# Copia este archivo a .env y completa apiKey desde Firebase:
# Configuración del proyecto → General → Tu app web → SDK → botón "Config"

VITE_FIREBASE_API_KEY=AIzaSyDAjrierdHi_cGTs8oe_-H2c3yuq7VSoHk
VITE_FIREBASE_AUTH_DOMAIN=gestionproyectosuniversitarios.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gestionproyectosuniversitarios
VITE_FIREBASE_STORAGE_BUCKET=gestionproyectosuniversitarios.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=81497832481
VITE_FIREBASE_APP_ID=1:81497832481:web:ce6674247d7e7cd8c137b0
VITE_API_BASE_URL=http://localhost:8080
